<!-- Footer Template -->
<!--Created by Exposure Team
----Version 1/05/2020------>

<div class="container d-flex justify-content-center">
    <span class="text-light">2020 Copyright: Exposure</span>
</div>

<!--------------------Footer Template End------------------>