<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap" rel="stylesheet">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/fontawesome.js"></script>
<meta name="description" content="Easily look for artist who are
        open for commissions and directly contact them about the work you have.">

<script src="/js/searchDisplay.js"></script>
<meta name="keyword" content="commission,drawing,drawings,art,
        digital,artists">

<meta name="robots" content="index,follow">

<meta http-equiv="X-UA-Compatibl" content="IE=edge">

<meta name="viewport" content="width = device-width,initial-
        scale = 1">

<title>Exposure</title>
<link rel="icon" type="image/ico" href="/Images/bannerAndLogo/logo.ico">
<link rel="apple-touch-icon" type="image/ico" href="/Images/bannerAndLogo/logo.ico">