<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body id="About" style="background: black;">
    <!--Navigation Menu on top-->
    <header>
        <%- include('../partials/header2') %>
    </header>
    <!--Navigation End-->

    <!--Core-->
    <div id="gradient">
        <!--About-->
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center"
                style="margin-top: 0px; margin-bottom: 0px;">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <h1 class=" d-flex justify-content-center" style="font-family: Odibee Sans" ;>About Us</h1>
                    <br>
                    <p style="font-size: x-large;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,
                        aperiam, qui nesciunt
                        excepturi ipsum facere animi tempora amet placeat neque ipsam aliquid maiores, fugiat dolorum et
                        dolores odio voluptate fuga.</p>
                </div>
            </div>
        </div>
        <!--./About-->

        <!--Footer Start-->
        <footer class="footer">
            <%- include('../partials/footer') %>
        </footer>
        <!--Footer End-->
    </div>

</body>

</html>
