<!-- About Web Page -->
<!-- Created by Exposure Team
---- Version 1/05/2020--->

<!DOCTYPE html>
<html lang="en">
<!--Head-->

<head>
    <!--Import Head EJS Template-->
    <%- include('../partials/head') %>
</head>
<!--Body-->

<body id="About" style="background: black;">
    <!--Navigation Menu on top-->
    <header>
        <!--Import Navigation Menu EJS Template-->
        <%- include('../partials/header') %>
    </header>
    <!--Navigation End-->

    <!--Core-->
    <div id="gradient">
        <!--About Content-->
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center"
                style="margin-top: 0px; margin-bottom: 0px;">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <h1 class=" d-flex justify-content-center" style="font-family: Odibee Sans" ;>About Us</h1>
                    <br>
                    <!--About Page Text-->
                    <p style="font-size: larger; font-family: cursive;">About:<br />
                        Exposure is used for commission search. It searches for artists who are best
                        suited for your drawing request.<br />
                        Usage Guide:<br />
                        In order to start searching you first need to Register or Sign In to the website.
                        Due to API using OAuth2 the OAuth2 Redirect URI Whitelist is as following(All that appeared in
                        the lab slides)<br />
                        https://modest-buenos-8080.codio.io<br />
                        https://modest-buenos-8080.codio.io/MainPage<br />
                        https://buffalo-fame-8080.codio.io<br />
                        https://buffalo-fame-8080.codio.io/MainPage<br />
                        https://recycle-mono-8080.codio.io<br />
                        https://recycle-mono-8080.codio.io/MainPage<br />
                        Type your drawing preference (Example : Kitten, Portrait etc.).Then you will be
                        returned an artists who are open for commissions and are able to handle your request.
                        They will be returned with their example drawing either regarding your preference or not.
                        You can either follow to their deviantArt Page, add this artist to your favorites or open
                        artist's profile page
                        and see more information about him and his best drawings. </p>
                </div>
            </div>
        </div>
        <!--./About-->

        <!--Footer Start-->
        <footer class="footer">
            <!--Import Footer EJS Template-->
            <%- include('../partials/footer') %>
        </footer>
        <!--Footer End-->
    </div>

</body>

</html>
<!---------------------------------------------------About Page End-->