<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../partials/head') %>
</head>

<body>
    <!--Navigation Menu on top-->
<header>
    <%-include('../partials/header') %>
</header>
    <!--Core-->
    <!--Gradient Back-->
    <div id="gradient"  style="height:90% !important;"">

        <!--Registration Form-->
        <div class="container  d-flex justify-content-center bg-light " style="width: 502px; padding-right: 0px;
    padding-left: 0px; background-color: rgba(0, 0, 0, 0.5) !important; height: 100%;">

            <article class="card-body " style="margin-top: 80px;">
                <h4 class="card-title mt-3 text-center" style="color: #ededed;">Create Account</h4>
                <p class="text-center" style="color: #ededed">Get started with your free account</p>
                <p>
                    <a href="" class="btn btn-block btn-twitter" id="regTwitter"> <i class="fab fa-twitter"></i>   Login
                        via
                        Twitter</a>
                    <a href="" class="btn btn-block btn-facebook" id="regFacebook"> <i class="fab fa-facebook-f"></i>  
                        Login via Facebook</a>
                    <a href="" class="btn btn-block btn-deviantart" id="regDeviant"><i class="fab fa-deviantart"></i>
                        Login
                        via DeviantArt</a>
                </p>
                <p class="divider-text">
                    <span class="bg-light">OR</span>
                </p>
                <form action = "/register" method = "POST">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text justify-content-center align-items-center"> <i
                                    class="fa fa-user"></i> </span>
                        </div>
                        <input name="fullname" class="form-control" placeholder="Full name" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text justify-content-center align-items-center"> <i
                                    class="fa fa-user"></i> </span>
                        </div>
                        <input name="username" class="form-control" placeholder="Username" type="text">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text justify-content-center align-items-center"> <i
                                    class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="email" class="form-control" placeholder="Email address" type="email">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text justify-content-center align-items-center"> <i
                                    class="fa fa-lock"></i> </span>
                        </div>
                        <input name = "password" class="form-control" placeholder="Create password" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text justify-content-center align-items-center"> <i
                                    class="fa fa-lock"></i> </span>
                        </div>
                        <input name = "password2" class="form-control" placeholder="Repeat password" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning btn-block"
                            style="color: black; background-color: #e0782e !important;"> Create Account
                        </button>
                    </div> <!-- form-group// -->
                    <p class="text-center">Have an account? <a href="/login" style="color:#f4d74b;">Log In</a> </p>
                </form>
            </article>
        </div>
        <!--Registration End-->
    </div>

</body>

</html>
